@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-lato: "Lato", serif; 
  }

.bg-login {
    @apply bg-[url(src/image/bg-login.jpeg)] bg-no-repeat bg-center bg-cover bg-fixed min-h-[100vh];
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.bg-register {
    @apply bg-[url(src/image/register.jpg)] bg-no-repeat bg-center bg-cover bg-fixed min-h-[100vh];
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.bg-hero {
    @apply bg-[url(src/image/bg-hero.png)] relative w-full h-[587px] flex items-center justify-center bg-cover bg-center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}